<h1>Edit LLM - <%= @workspace.name %></h1>

<%= render 'form', 
    model: [@workspace, @llm],
    submit_text: 'Update LLM',
    back_path: workspace_llms_path(@workspace),
    selected_provider: @llm.provider,
    configs_value: @llm.configs.present? ? JSON.pretty_generate(@llm.configs) : '' %>

<%= link_to 'Show', [@workspace, @llm], class: 'btn btn-info' %>