<h1>New LLM - <%= @workspace.name %></h1>

<%= render 'form', 
    model: [@workspace, @llm],
    submit_text: 'Create LLM',
    back_path: workspace_llms_path(@workspace),
    selected_provider: nil %>