<%= render "form", 
    resource: resource, 
    resource_name: resource_name,
    url: registration_path(resource_name),
    method: :post,
    show_password_hint: true,
    show_current_password: false,
    password_autocomplete: "new-password",
    submit_text: "Criar conta" %>

<div class="mt-6">
  <%= render "devise/shared/links" %>
</div>
