<h1>Edit Function - <%= @workspace.name %></h1>

<%= render 'form', 
    model: [@workspace, @function],
    submit_text: 'Update Function',
    back_path: workspace_functions_path(@workspace) %>

<%= link_to 'Show', [@workspace, @function], class: 'btn btn-info' %>