<h1>Edit Agent - <%= @workspace.name %></h1>

<%= render 'form', 
    model: [@workspace, @agent],
    submit_text: 'Update Agent',
    back_path: workspace_agents_path(@workspace),
    llms: @llms,
    selected_llm_id: @agent.llm_id %>

<%= link_to 'Show', [@workspace, @agent], class: 'btn btn-info' %>